.body{
	background-image: url(../icon/background.png);
    background-repeat:no-repeat;/*图片适应窗口大小，这里设置的是不进行平铺*/
    background-attachment: fixed;/*图片相对于浏览器固定,这里设置背景图片固定，不随内容滚动*/
    background-origin: border-box;/*从边框区域显示*/
    background-size:cover;/*指定图片大小，此时会保持图像的纵横比并将图像缩放成将完全覆盖背景定位区域的最小大小*/
}

/* 轮播 */
/*修改插件中的样式的，就是用自己定义的样式覆盖原来的样式*/
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;     /* 覆盖插件里圆圈的颜色*/
    border-radius: 10px
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;     /* 覆盖插件里圆圈的颜色*/
}

