<div class="col-md-1">
    <!-- 侧边栏标签页 -->
    <ul class="nav nav-pills nav-stacked">
        <!-- 侧边栏选项 -->
        <li role="presentation" class="active">
            <!-- 选项控制data-target对应的显隐 -->
            <a href="#" data-toggle="collapse" data-target="#list">商品管理</a>
            <!-- 隐藏的详细菜单 -->
            <ul id="list" class="collapse in">
                <li><a href="">操作一</a>
                <li><a href="">操作二</a></li>
            </ul>
        </li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
</div>