<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,intial-scale=1.0" />
    <title>Minecraft WIKI</title>
    <link rel="shortcut icon" href="/static/icon/favicon.ico" />
    <!-- 引入Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <!-- 自定义css -->
    <link href="/static/css/mc_wiki.css" rel="stylesheet" />
    <link href="/static/css/mc_wiki_item.css" rel="stylesheet" />
</head>

<body>
    <img src="/static/icon/公告.png" style="height: 150px; width: 150px;" />
    <hr>
    <h1 style="color: aquamarine;">这是一个默认界面</h1>
    <hr>
    <h4>这里的图鉴等待你的补充</h4>
    <br>
</body>

</html>